<div class="Container-fluid">
  <div class="row">
    <horizontal-navbar></horizontal-navbar>
  </div>
  <div class="row">
    <div class="d-md-block col-4 col-md-2 m-0 p-0" id="onlyMenubar">
      <vertical-navbar> </vertical-navbar>
    </div>
    <div class="col-8 col-md-10">
      <div class="m-1 my-5 m-md-5">
        <div class="d-md-flex m-md-5 p-md-5 gap-5 aboutCrm">
          <div class="mx-md-5">
            <p>
              <i
                >We provide crm services to multi corporates all over the world.
                We manage the employee details and their salaries as
                well.salaries are displayed with addition of deductions with
                respective to month.Deductions are calculated based on extra
                leaves.</i
              >
            </p>
            <p><i>"Trust our CRM system, we secure your data."</i></p>
          </div>
          <div class="me-md-5">
            <img
              class="img-fluid rounded-2"
              src="assets/images/crm_image.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
